<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>

<%= link_to("Generate CSV", articles_path(format: :csv)) %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
      <td>
        
      </td>
      <td>
        <% if (article.ratings.count() != 0) %>
          <% average_rating = 0.0 %>
          <% article.ratings.each do |rating| %>
            <% average_rating += rating.score.to_f %>
           <% end %>
           <span id="average_rating">
            Average rating : 
            <%= average_rating/article.ratings.count() %>
           </span>
        <% end %>
      </td>
      <td>
        <%= form_with(model: [ article, article.ratings.build ], local: true) do |form| %>
          <p>
            <%= form.label "your rating : " %>
            <%= form.number_field(:score, in: 1..5, step: 1) %>
            <%= form.submit %>
          </p>
        <% end %>  
      </td>
    </tr>
  <% end %>
</table>
